@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff;
    --code-bg-color: #ddd;
    --text-color: #111;
    --light-text-color: #111c;
    --link-color: #5cb;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111;
    --code-bg-color: #444;
    --text-color: #eee;
    --light-text-color: #eeec;
    --link-color: #66f;
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
	padding-left: 15px;
	border-bottom: 2px solid gray;
}

a {
  color: var(--link-color);
}

code {
  color: var(--light-text-color);
  background-color: var(--code-bg-color);
}
